<h1> Welcome on Recipeapp  </h1>

<button> <%= link_to "Students", "/students" %> </button>
<button> <%= link_to "Teachers", "/teachers" %> </button>
<button> <%= link_to "Articles", "/articles" %> </button>
<button> <%= link_to "Excursions", "/excursions" %> </button>