<div class='main'>
<% @articles.each do |article| %>
<h1><%= link_to article.name, article_path(article)%></h1>

<% end %>
<button> <%= link_to "Create a new article", "/articles/new" %> </button>
</div>