<div class='main'>
<h1><%= "#{@excursion.student.name} | #{@excursion.excursion_date}" %></h1>

<button><%= link_to 'Edit', edit_excursion_path %></button>
<button><%= link_to 'Back', :back %></button>
</div>